<!-- @format -->

{% extends 'layout/base.html' %} {% load static %} {% block title %}Trainee
Details | ITI Egypt{% endblock %} {% block content %}
<div class="container mt-4">
  <header class="d-flex justify-content-between align-items-center mb-4">
    <h1>Trainee Details</h1>
    <a href="{% url 'trainee_list' %}" class="btn btn-outline-secondary">
      <i class="fas fa-arrow-left"></i> Back to Trainees
    </a>
  </header>

  <div class="card shadow">
    <div class="card-body">
      <img
        src="{{ trainee.image_url }}"
        alt="{{ trainee.first_name }}"
        class="mb-3 rounded"
        style="max-width: 200px" />

      <h5 class="card-title">Trainee ID: {{ trainee.id }}</h5>
      <p class="card-text">
        <strong>Name:</strong> {{ trainee.first_name }} {{ trainee.last_name }}
      </p>
      <p class="card-text"><strong>Email:</strong> {{ trainee.email }}</p>
      <p class="card-text"><strong>Phone:</strong> {{ trainee.phone }}</p>
      <p class="card-text"><strong>Age:</strong> {{ trainee.age }}</p>
      <p class="card-text">
        <strong>Course:</strong> {{ trainee.assigned_course.name }}
      </p>
    </div>
  </div>
</div>
{% endblock %}
